/*========== COMMONS ==========*/
*{
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}


/*========== HEADER ==========*/
header{
  background: #fff;
}

.main-header .navigation{
  position: fixed;
  margin-top: 30px;
}

.brand-logo .logo{
  margin-top: 7px;
  margin-left: 72px;
}

.brand-logo{
  z-index: 10;
}

.logo{
  width: 24px;
  height: 22px;
}

.search{
  min-height: auto;
  min-width: auto;
}

.search .input{
  margin-left: 60px;
  width: 480px;
  height: 38px;
} 

.search input{
  border-radius: 6px;
  background: #ececed;
}

.main-nav{
  margin: 0;
  padding: 0;
}

.main-nav ul{
  margin-top: 5px;
  margin-left: 110px;
}

.main-nav ul li{
  display: inline-block;
  margin-right: 48px;
  font-size: 16px;
} 

.main-nav ul li a{
  text-decoration: none;
  color: #545454;
}

.main-nav ul li a:hover{
  color: #86d2e3;
  font-weight: 400;
  transition: top 0.2s ease-out 0.1s;
}

/*===============================*/

button:focus{
    outline: none;
}


a:focus {
  outline: none;
}

/**************************************************
    CHAT WINDOW
**************************************************/
.chat_window {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0;
    margin: 0;
    height: 660px;
    overflow-y: scroll;
}

/* Message block */
.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 2px;
    transition: all 0.5s linear;
    opacity: 0;
}

/* .messages .message.left .avatar {
    background-color: #f5886e;
    width: 40px;
    height: 40px;
    float: left;
}
.messages .message.left .text_wrapper {
    margin-left: 2px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb;
}
.messages .message.left .text {
    color: #494949;
}
.messages .message.right .avatar {
    background-color: #fdbf68;
    margin-right: 20px;
    float: right;
}
.messages .message.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc;
}
.messages .message.right .text {
    color: #45829b;
} */
.messages .message.appeared {
    opacity: 1;
}

.messages .message .avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 10%;
    display: inline-block;
}

.message .avatar-name p{
    position: relative;
}

.messages .message .text_wrapper {
    display: inline-block;
    top: -10px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
}

.messages .message .text_wrapper .text {
    font-size: 16px;
    font-weight: 300;
}

/* Bottom navigation */
.bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 20px 20px;
    position: absolute;
    bottom: -10px;
}
.bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    font-size: 16px;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
}
.bottom_wrapper .send_message {
    font-size: 16px;
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
}

.bottom_wrapper .send_message:active{
    border: none;
}

.bottom_wrapper .send_message:hover {
    color: #86d2e3;
    background-color: #fff;
}
.bottom_wrapper .send_message .text {
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
}

.message_template {
    display: none;
}
