/* #FFC924 */
/* #FF4742 */

/*================ COMMONS ================*/
*{
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

input, button{
	outline: inherit;
	border: none;
}

button:active, button:focus{
	outline: inherit;
	border: 0;
}

/*================ HEADER ================*/
header{
	background: url(../images/background.jpg) no-repeat bottom;
	padding-bottom: 15px;
	margin-bottom: 40px;
}
.main-header .navigation{
	position: fixed;
	margin-top: 30px;
	top: 0;
  	transition: top 0.4s;
}

/* LOGO */
.brand-logo .logo{	
	margin-top: 7px;
	margin-left: 72px;
}

.brand-logo img{
	position: relative;
	z-index: 9000;	
}

/* SEARCH */
.search form {
  position: relative;
  border: 2px solid #008abc;
  margin-left: 60px;
  border-radius: 4px;
  width: 480px;
}

.search input {
  width: 100%;
  height: 38px;
  padding-left: 10px;
  border-radius: 4px;
  outline: none;
  background: #ececed;
  color: #5F5F5F;
}

.search button {
  position: absolute; 
  padding-right: 12px;
  top: 0;
  right: 0;
  width: 42px;
  height: 38px;
  border-radius: 4px;
  background: #ececed;
  cursor: pointer;
}

.search button:before {
  content: url(../images/search.png);
}

 /* NAVIGATION */
.main-nav ul{
	text-align: center;
	margin-top: 4px;
	margin-left: 40px;
}

.main-nav ul li .register {
	color: #fff;
	border: none;
	background: #008abc; 
	padding: 10px 12px 10px 12px;
	border-radius: 4px;
}

.main-nav ul li{
	display: inline-block;
	/*margin-right: 48px;*/
	margin-right: 40px;
} 

.main-nav ul li a{
	text-shadow: 0.5px 0.5px #000;
	font-size: 17px;
	text-decoration: none;
	font-weight: 400;
	color: #fff;
}

.main-nav ul li a:hover{
	transition: 0.2s;
	border-bottom: 2px solid #008abc;
}

/*================ BURGER MENU ================*/
.sidenav {
  z-index: 1040;	
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #a3a3a3;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 440px;
}

.sidenav a { 	
  padding: 8px 8px 8px 72px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover{
	transition: 0.3s;
	padding-left: 30%;
	font-weight: bold;
	border: 1px solid #008abc;
	color: #008abc;
	background: #fff;
}

/*================ AUTHORIZATION ================*/
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 478px;
  height: 576px;
}

.modal-content .header-title{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 160px;
	background: #008abc; 
	border-radius: 4px;
}

/* The Close Button */
.closeRegisterWindow {
  z-index: 1;
  margin-top: -20px;
  margin-left: 390px;
  font-size: 34px;
}

.closeRegisterWindow:hover,
.closeRegisterWindow:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal-content .header-title h1{
	padding: 40px;
	color: #fff;
	text-align: center;
}

.modal .modal-content form{
	padding-top: 40px;
	text-align: center;
	margin-top: 140px;
	margin-bottom: 60px;
}

.modal .modal-content form input{
	border: 1px solid #aaaaaa;
	padding-left: 10px;
  	outline: none;
	border-radius: 4px;
	margin-bottom: 20px;
	width: 374px;
	height: 56px;
}

.modal .modal-content form button{
	margin-top: 14px;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	width: 374px;
	min-height: 40px;
	border-radius: 4px;
	height: 64px;
	padding: 21px 14px 21px 14px;
	border: 1px solid #008abc;
	background: #008abc;
}

.modal .modal-content form button:hover{
	color: #008abc;	
	background: #fff;
	transition: 0.3s;
}

/*================ MAIN TITLE ================*/
.main-window{
	margin-left: -24px;
	padding-bottom: 80px;
	color: #fff;
}

.main-window .text h1{
	text-shadow: 1.5px 1.5px #000;
	margin-top: 200px;
	font-size: 50px;
}

.main-window .text p{
	text-shadow: 2px 2px #000;
	margin-top: -20px;
	font-size: 29px;
}

/*================ FILTERS ================*/


/*================ UNITS LIST ================*/
.unit-container{
	display: grid;
	padding: 0 64px 0 64px;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 22px;
}

/* UNIT TEMPLATE */
.unit{
	position: relative;
	grid-gap: 20px;
	width: 270px;
	height: 202px;
}

.disable-image{
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.disable-image img{
	position: relative;
	border-radius: 4px;
	width: 100%;
}

.disable-image h1{
	text-shadow: 1.5px 1.5px #000;
	font-size: 24px;
	position: absolute;
	margin-top: 48px;
	width: 100%;
	font-weight: 400;
	top: 0;
	text-align: center;
	color: #fff;
} 

.unit:hover .disable-image h1{
	opacity: 0;
}
 
.hover-image{
	position: absolute;
	background: url(../images/units/pattern/background.png);
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	color: #fff;
	-webkit-transition: all 400ms ease-out;
	-moz-transition: all 400ms ease-out;
	-o-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
} 

.hover-image:hover{
	opacity: 1;
}

/*.hover-image */
.menu{
	margin: 12px 16px 12px 16px;
}

/*.hover-image */
.menu .like{
	color: red;
	width: 24px;
	height: 24px;
} 

.menu .close{
	width: 21px;
	height: 21px;
	opacity: 1;
} 

.menu .close:hover{
	opacity: 1;
} 

.unit-details{
	width: 100%;
}

.left-col{
	width: 50%;
	float: left;	
}

.left-col ul li{
	text-shadow: 1px 1px #000;
	padding-bottom: 7px;
	margin-left: 3px;
	font-size: 14px;
}

/* ICONS */
.left-col ul li:nth-child(1){
	list-style-image: url(../images/units/pattern/risk.png);
} 

.left-col ul li:nth-child(2){
	list-style-image: url(../images/units/pattern/competition.png);
}

.left-col ul li:nth-child(3){
	list-style-image: url(../images/units/pattern/revenue.png);
}

.left-col ul li:nth-child(4){
	list-style-image: url(../images/units/pattern/price.png);
}

.left-col ul li:nth-child(5){
	list-style-image: url(../images/units/pattern/time.png);
}

.right-col{
	margin-top: 2px;
	width: 50%;
	min-width: auto;
	float: right;
}

.right-col ul li .line{
	margin-top: 2px;
	width: 120%;
	min-width: 74px;
	height: 20px;
	left: -30px;
	margin-bottom: 7.6px;
}

.line{
	position: relative;
	border-radius: 4px;
	background: #595657;
} 

.line .color-line{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 4px;
	background: #2BDE73;
}

.right-col ul li:nth-child(1) .line .color-line{
	width: 81%;
}

.right-col ul li:nth-child(2) .line .color-line{
	width: 45%;
	background: #FFC924;
}

.right-col ul li:nth-child(4) .line .color-line{
	width: 93%;
}

.right-col ul li:nth-child(5) .line .color-line{
	width: 12%;
	background: #FF4742;
}


/*================ DESCRIPTION WINDOW ================*/
.unit-description{
	z-index: 9000;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	display: none; 
    position: fixed; 
	left: 0;	
	top: 0;
	right: 0;
	bottom: 0;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
	width: 1047px;
	height: 638px; 
}

.close-description{
	padding-top: 100px;
	margin-left: 1010px;
	font-weight: bold;
}

.description-header{
	height: 136px;
	width: 100%;
	background: url(../images/background.jpg) top no-repeat;
}

.description-header h2{
	padding-top: 30px;
	text-align: center;
	margin: 0 auto;
}

.nav{
	text-align: center;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding-left: 20px;
	padding-right: 20px;
	border-top: 0.5px solid grey;
	border-bottom: 0.5px solid grey;
}

.nav li{
	padding: 5px 0 5px 0;
	display: inline-block;
}

.nav li a{
	color: grey;
}

.nav li a:hover{
	color: #008abc;
	transition: 0.1s;
	border-bottom: 2px solid #008abc;
}

.nav .active{
	color: #008abc;
	transition: 0.1s;
	border-bottom: 2px solid #008abc;
}

.information-list{
	box-sizing: border-box;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	display: grid;
	grid-template-columns: repeat(2, auto 2fr); 
	grid-gap: 10px;
}

.information-list img{
	margin-right: 10px;
	margin-top: -2px;
}
.information-list .line{
	padding-left: 0;
	margin-top: -2px;
	height: 28px;
	left: 20px;
	width: 70%;	
}

/* .information-list .line span{
	position: relative;
	z-index: 10000;
} */

.information-list .line .color-line{
	width: 70%;
	background: #2BDE73;
}










/*================	DESKTOP FIRST ================== */
@media only screen and (max-width: 1359px){
	/* HEADER */
	.main-nav ul{
		margin-top: 12px;
		margin-left: auto;
	}

	.main-nav ul .register{
		display: none;
	}

	.search form{
		width: 100%;
	}

	.main-window{
		margin-left: 6%;
		padding-left: 0;
	}	

	/* UNITS */
	.unit-container{
		grid-template-columns: repeat(4,minmax(197px,auto));
	}

	.unit{
		position: relative;
		height: 202px;
		width: auto;
	}

	.disable-image img{
		height: 202px;
		min-width: 180px;
	}

	.left-col ul li{
		font-size: 12px;
		margin-left: 0;
	}

	.right-col ul li{
		margin-left: 10px;
	}
}

/* Large devices, Wide Screens */
@media only screen and (max-width: 1200px){
	/* NAVIGATION */
	.main-nav #comingSoonBtn1{
		display: none;
	}
}

@media only screen and (max-width: 1156px){
	.disable-image h1{
		font-size: 22px;
	}
}

@media only screen and (max-width: 1080px){
	.disable-image h1{
		font-size: 20px;
	}
}

@media only screen and (max-width: 1023px){
	.main-nav{
		margin-left: 0;
		padding-left: 0;
	}
}

@media only screen and (max-width: 1007px){
	/* NAVIGATION */
	.main-nav ul{
		padding-left: 0;
	}
}


/* Medium devices, Desktops */
@media only screen and (max-width: 992px){
	.main-nav #comingSoonBtn2{
		display: none;
	}
}


@media only screen and (max-width: 959px){
	
	/* UNITS */
	.unit-container{
		grid-template-columns: repeat(3, 1fr);
	}

	.hover-image .left-col ul li{
		left: 0;
		padding-left: 0;
		margin-left: 0;
	}
}

@media only screen and (max-width: 827px){
	.main-nav{
		padding-left: 0;
	}
}

/* Portrait tablets and small desktops */
@media only screen and (max-width: 809px){
	.main-nav #resourcesBtn{
		display: none;
	}

	.main-nav ul{
		margin-left: 80px;
		/*padding-left: 20px;*/
	}

	.unit-container{
		/*grid-template-columns: repeat(3, 1fr);*/
		padding: 0 22px 0 22px;
	}

	.search form{
		width: 160%;
	}
}

/*================  MOBILE FIRST  ==================*/

/* Small Devices, Tablets */
@media only screen and (max-width: 767px){
	.main-window{
		display: none;
	}

	header{
		background-position: center;
		height: 98px;
	}

	.search{
		margin-right: 0;
		padding-right: 0;
	}

	.main-nav .signBtn{
		/*width: 60%;*/
		margin: 42px auto;
		top: 0;
		position: fixed;
		margin-left: 0;
		padding-left: 0;
		padding-right: 10px; 
	}

	.main-nav #chatBtn{
		display: none;
	}
}

@media only screen and (max-width: 645px){
	.main-nav .signBtn{
		margin-left: -36px;
	}

	.disable-image h1{
		font-size: 20px;
	}
}

@media only screen and (max-width: 630px){
	.unit-container{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 556px){
	.main-nav{
		display: none;
	}

	.disable-image h1{
		font-size: 18px;
	}
}

@media only screen and (max-width: 590px){
	.main-nav .signBtn{
		padding-left: 0;
		margin-left: 60px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 552px){
	.hover-image ul li{
		padding-left: -10px;
		margin-left: 0;
		font-size: 11px;
	}	

	.hover-image .line{
		min-width: 10px;
	}

	.search{
		margin-left: 30px;
	}

	.search form{
		width: 200%;
	}
}

/* Custom, Iphone, Retina */
@media only screen and (max-width: 475px){
	.unit-container{
		grid-template-columns: repeat(1, 1fr);
		padding: 0 22px 0 22px;
	}

	.unit{
		margin: 0 auto;
		max-width: 100%;
	}

	.disable-image h1{
		font-size: 22px;
	}

	.hover-image .left-col ul li{
		font-size: 12px;
	}

	.right-col ul li{
		width: 80%;
		margin-bottom: 8.6px;
	}
}

@media only screen and (max-width: 364px){
	.brand-logo{
		padding-left: 0;
	}

	.unit-container{
		padding: 0 22px 0 22px;
	}

	.disable-image h1{
		font-size: 20px;	
	}

	.hover-image .left-col ul li{
		font-size: 12px;
	}

	.right-col ul li .line{
		margin-top: -0.6px;
	}

	.search form{
		right: 12px;
	}
}
